# Dataset

Task: Predicting health insurance charges using features about the insured person (age, sex, bmi, children, smoker, region).

Dataset link on Kaggle: <a href="https://www.kaggle.com/teertha/ushealthinsurancedataset">US Health Insurance Dataset</a>

Dataset description on Kaggle: 
<br> "*This dataset contains **1338 rows** of insured data, where the Insurance charges are given against the following **attributes** of the insured: **Age, Sex, BMI, Number of Children, Smoker and Region**. There are no missing or undefined values in the dataset.*"

In [5]:
import pandas as pd

data = pd.read_csv('insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# Check categorical data types and values

In [6]:
# TODO: print data types of dataset
data.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [7]:
# TODO: print unique values of categorical features
print('sex', data['sex'].unique())
print('smoker', data['smoker'].unique())
print('region', data['region'].unique())

sex ['female' 'male']
smoker ['yes' 'no']
region ['southwest' 'southeast' 'northwest' 'northeast']

**Answer the following questions:**
1. Which features are categorical?
    (sex, smoker, region)
2. What unique values appear in each feature?
 sex ['female' 'male'],
 smoker ['yes' 'no'],
 region ['southwest' 'southeast' 'northwest' 'northeast'].

# Encoding binary categorical features using numerical encoding

In [8]:
data_encoded_1 = data.replace({
    # TODO: use numeric encoding to encode binary features
    # such as `sex` and `smoker`
    'sex':{'male':0, 'female':1},
    'smoker':{'no':0, 'yes':1}
})

data_encoded_1.head()

   age  sex     bmi  children  smoker     region      charges
0   19    1  27.900         0       1  southwest  16884.92400
1   18    0  33.770         1       0  southeast   1725.55230
2   28    0  33.000         3       0  southeast   4449.46200
3   33    0  22.705         0       0  northwest  21984.47061
4   32    0  28.880         0       0  northwest   3866.85520

**Note:** The previous output must have numeric values for `sex` and `smoker` features.

# Encoding nominal features using one-hot encoding

In [9]:
# TODO: apply one-hot encoding to `data_encoded_1`
data_encoded_2 = pd.get_dummies(data_encoded_1)
data_encoded_2.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,1,27.900,0,1,16884.92400,0,0,0,1
1,18,0,33.770,1,0,1725.55230,0,0,1,0
2,28,0,33.000,3,0,4449.46200,0,0,1,0
3,33,0,22.705,0,0,21984.47061,0,1,0,0
4,32,0,28.880,0,0,3866.85520,0,1,0,0

**Note:** The new dataset `data_encoded_2` must have numeric values for **all features**.

**Note:** The output `charges` has moved to the middle of the DataFrame. But it doesn't matter because we will separate it from the input in the next code cell.

# Splitting data to input and output

In [10]:
# TODO: select all columns of `data_encoded_2` except `charges`
data_input = data_encoded_2.drop(columns=['charges'])
# TODO: select `charges` column from `data_encoded_2`
data_output = data_encoded_2['charges']

In [11]:
data_input.head()

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,19,1,27.900,0,1,0,0,0,1
1,18,0,33.770,1,0,0,0,1,0
2,28,0,33.000,3,0,0,0,1,0
3,33,0,22.705,0,0,0,1,0,0
4,32,0,28.880,0,0,0,1,0,0

**Note:** `data_input` must contain the same columns as `data_encoded_2` except `charges` column.

In [12]:
data_output.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

**Note:** `data_output` must contain only the `charges` column.

# Splitting data to (train - validation - test)

In [13]:
from sklearn.model_selection import train_test_split
 # TODO: split (data_input, data_output) using test_size=0.20 and random_state=0
X, X_test, y, y_test = train_test_split(data_input, data_output,test_size=0.20, random_state=0)
 # TODO: split (X, y) using test_size=0.25 and random_state=0
X_train, X_val, y_train, y_val = train_test_split( X,y,test_size=0.25,random_state=0)

In [14]:
print(X_train.shape)
print(y_train.shape)
print()
print(X_val.shape)
print(y_val.shape)
print()
print(X_test.shape)
print(y_test.shape)

(802, 9)
(802,)

(268, 9)
(268,)

(268, 9)
(268,)

**Note:** The previous output must be like the following:
```
(802, 9)
(802,)

(268, 9)
(268,)

(268, 9)
(268,)
```

# Feature scaling using StandardScaler

In [15]:
from sklearn.preprocessing import StandardScaler
# TODO: create an object of `StandardScaler`
scaler = StandardScaler()
# TODO: fit the `scaler` using `X_train`
scaler.fit(X_train)
X_train_scaled = scaler.transform (X_train)
# TODO: transform `X_train` using `scaler`
X_val_scaled = scaler.transform (X_val)
# TODO: transform `X_val` using `scaler`
X_test_scaled = scaler.transform (X_test)
# TODO: transform `X_test` using `scaler`

# Linear Regression

## Training and Validation

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [17]:
# Creating a linear regression model
linear_reg = LinearRegression()

# training our model
linear_reg.fit(X_train_scaled, y_train)
# making predictions
y_pred_train = linear_reg.predict(X_train_scaled)
y_pred_val = linear_reg.predict(X_val_scaled)

# Evaluating our model using R2 score
print('train', r2_score(y_train, y_pred_train))
print('val', r2_score(y_val, y_pred_val))

train 0.7410080381461
val 0.7242096157656368

# Non-Linear Regression

In [18]:
from sklearn.preprocessing import PolynomialFeatures

In [19]:
pf = PolynomialFeatures(2)
pf.fit(X_train_scaled)

X_train_poly = pf.transform (X_train_scaled)
X_val_poly = pf.transform (X_val_scaled)
X_test_poly = pf.transform (X_test_scaled)
# Creating non-linear regression model
nonlinear_reg = LinearRegression()

# training our model
nonlinear_reg.fit(X_train_poly, y_train)

# making predictions
y_pred_train = nonlinear_reg.predict(X_train_poly)
y_pred_val = nonlinear_reg.predict(X_val_poly)

# Evaluating our model using R2 score
print('train', r2_score(y_train, y_pred_train))
print('val', r2_score(y_val, y_pred_val))

train 0.835419465897155
val 0.835807582066921

## Testing

In [20]:
y_pred_test = nonlinear_reg.predict(X_test_poly)
print('test', r2_score(y_test, y_pred_test))

test 0.8790551146618896