In [1]:
#to Read Data
import pandas as pd
data_example_1 = pd.read_csv('data-all-categorical.data')
#to display Data
data_example_1

    Day   Outlook Temperature Humidity    Wind PlayTennis
0    D1     Sunny         Hot     High    Weak         No
1    D2     Sunny         Hot     High  Strong         No
2    D3  Overcast         Hot     High    Weak        Yes
3    D4      Rain        Mild     High    Weak        Yes
4    D5      Rain        Cool   Normal    Weak        Yes
5    D6      Rain        Cool   Normal  Strong         No
6    D7  Overcast        Cool   Normal  Strong        Yes
7    D8     Sunny        Mild     High    Weak         No
8    D9     Sunny        Cool   Normal    Weak        Yes
9   D10      Rain        Mild   Normal    Weak        Yes
10  D11     Sunny        Mild   Normal  Strong        Yes
11  D12  Overcast        Mild     High  Strong        Yes
12  D13  Overcast         Hot   Normal    Weak        Yes
13  D14      Rain        Mild     High  Strong         No

In [2]:
data_example_1.dtypes

Day            object
Outlook        object
Temperature    object
Humidity       object
Wind           object
PlayTennis     object
dtype: object

In [4]:
print(data_example_1['Outlook'].unique())
print('---------------------------------')
print(data_example_1['Temperature'].unique())
print('---------------------------------')
print(data_example_1['Humidity'].unique())
print('---------------------------------')
print(data_example_1['Wind'].unique())
print('---------------------------------')
print(data_example_1['PlayTennis'].unique())

['Sunny' 'Overcast' 'Rain']
---------------------------------
['Hot' 'Mild' 'Cool']
---------------------------------
['High' 'Normal']
---------------------------------
['Weak' 'Strong']
---------------------------------
['No' 'Yes']

In [6]:
data_example_1_encoded = data_example_1.replace({
    'Outlook':{'Sunny':0, 'Overcast':1, 'Rain':2},
    'Temperature':{'Hot':0, 'Mild':1, 'Cool':2},
    'Humidity':{'High':0, 'Normal':1},
    'Wind':{'Weak':0, 'Strong':1},
    'PlayTennis':{'No':0, 'Yes':1}
})

In [7]:
data_example_1_encoded

    Day  Outlook  Temperature  Humidity  Wind  PlayTennis
0    D1        0            0         0     0           0
1    D2        0            0         0     1           0
2    D3        1            0         0     0           1
3    D4        2            1         0     0           1
4    D5        2            2         1     0           1
5    D6        2            2         1     1           0
6    D7        1            2         1     1           1
7    D8        0            1         0     0           0
8    D9        0            2         1     0           1
9   D10        2            1         1     0           1
10  D11        0            1         1     1           1
11  D12        1            1         0     1           1
12  D13        1            0         1     0           1
13  D14        2            1         0     1           0

In [8]:
data_example_1_encoded.dtypes

Day            object
Outlook         int64
Temperature     int64
Humidity        int64
Wind            int64
PlayTennis      int64
dtype: object

In [9]:
#Input Data
x = data_example_1_encoded.drop(columns=['Day','PlayTennis'])
#Output Data
y = data_example_1_encoded['PlayTennis']

In [13]:
x.head()

   Outlook  Temperature  Humidity  Wind
0        0            0         0     0
1        0            0         0     1
2        1            0         0     0
3        2            1         0     0
4        2            2         1     0

In [14]:
y.head()

0    0
1    0
2    1
3    1
4    1
Name: PlayTennis, dtype: int64

In [15]:
from sklearn.naive_bayes import CategoricalNB

In [16]:
cat_nb = CategoricalNB()
cat_nb.fit(x,y)

CategoricalNB()

In [17]:
y_pred = cat_nb.predict(x)

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
accuracy_score(y,y_pred)

0.9285714285714286

In [20]:
data_example_2 = pd.read_csv('data-with-numerical.data')

In [21]:
data_example_2

    Day   Outlook  Temperature  Humidity    Wind PlayTennis
0    D1     Sunny           85        85    Weak         No
1    D2     Sunny           80        90  Strong         No
2    D3  Overcast           83        86    Weak        Yes
3    D4      Rain           70        96    Weak        Yes
4    D5      Rain           68        80    Weak        Yes
5    D6      Rain           65        70  Strong         No
6    D7  Overcast           64        65  Strong        Yes
7    D8     Sunny           72        95    Weak         No
8    D9     Sunny           69        70    Weak        Yes
9   D10      Rain           75        80    Weak        Yes
10  D11     Sunny           75        70  Strong        Yes
11  D12  Overcast           72        90  Strong        Yes
12  D13  Overcast           81        75    Weak        Yes
13  D14      Rain           71        91  Strong         No

In [22]:
data_example_2.dtypes

Day            object
Outlook        object
Temperature     int64
Humidity        int64
Wind           object
PlayTennis     object
dtype: object

In [23]:
print(data_example_2['Outlook'].unique())
print('---------------------------------')
print(data_example_2['Temperature'].unique())
print('---------------------------------')
print(data_example_2['Humidity'].unique())
print('---------------------------------')
print(data_example_2['Wind'].unique())
print('---------------------------------')
print(data_example_2['PlayTennis'].unique())

['Sunny' 'Overcast' 'Rain']
---------------------------------
[85 80 83 70 68 65 64 72 69 75 81 71]
---------------------------------
[85 90 86 96 80 70 65 95 75 91]
---------------------------------
['Weak' 'Strong']
---------------------------------
['No' 'Yes']

In [39]:
data_example_2_encoded = data_example_2.replace({
    'Outlook':{'Sunny':0, 'Overcast':1, 'Rain':2},
    'Wind':{'Weak':0, 'Strong':1},
    'PlayTennis':{'No':0, 'Yes':1}
})

In [40]:
data_example_2_encoded

    Day  Outlook  Temperature  Humidity  Wind  PlayTennis
0    D1        0           85        85     0           0
1    D2        0           80        90     1           0
2    D3        1           83        86     0           1
3    D4        2           70        96     0           1
4    D5        2           68        80     0           1
5    D6        2           65        70     1           0
6    D7        1           64        65     1           1
7    D8        0           72        95     0           0
8    D9        0           69        70     0           1
9   D10        2           75        80     0           1
10  D11        0           75        70     1           1
11  D12        1           72        90     1           1
12  D13        1           81        75     0           1
13  D14        2           71        91     1           0

In [26]:
data_example_2_encoded.dtypes

Day            object
Outlook         int64
Temperature     int64
Humidity        int64
Wind            int64
PlayTennis      int64
dtype: object

In [28]:
#Input Data
x = data_example_2_encoded[['Temperature','Humidity']]
#Output Data
y = data_example_2_encoded['PlayTennis']

In [29]:
x

    Temperature  Humidity
0            85        85
1            80        90
2            83        86
3            70        96
4            68        80
5            65        70
6            64        65
7            72        95
8            69        70
9            75        80
10           75        70
11           72        90
12           81        75
13           71        91

In [30]:
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: PlayTennis, dtype: int64

In [31]:
from sklearn.naive_bayes import GaussianNB

In [32]:
gaussian_nb = GaussianNB()
gaussian_nb.fit(x,y)

GaussianNB()

In [33]:
y_pred = gaussian_nb.predict(x)

In [34]:
accuracy_score(y,y_pred)

0.7142857142857143

In [35]:
!pip install mixed-naive-bayes

Collecting mixed-naive-bayes
  Downloading mixed_naive_bayes-0.0.1-py3-none-any.whl (8.9 kB)
Requirement already satisfied: scikit-learn>=0.20.2 in c:\users\aya\anaconda3\lib\site-packages (from mixed-naive-bayes) (0.23.2)
Requirement already satisfied: numpy>=1.16.1 in c:\users\aya\anaconda3\lib\site-packages (from mixed-naive-bayes) (1.19.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\aya\anaconda3\lib\site-packages (from scikit-learn>=0.20.2->mixed-naive-bayes) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\aya\anaconda3\lib\site-packages (from scikit-learn>=0.20.2->mixed-naive-bayes) (1.5.2)
Requirement already satisfied: joblib>=0.11 in c:\users\aya\anaconda3\lib\site-packages (from scikit-learn>=0.20.2->mixed-naive-bayes) (0.17.0)
Installing collected packages: mixed-naive-bayes
Successfully installed mixed-naive-bayes-0.0.1

In [37]:
from mixed_naive_bayes import MixedNB

In [43]:
#Input Data
x = data_example_2_encoded.drop(columns=['Day','PlayTennis'])
#Output Data
y = data_example_2_encoded['PlayTennis']

In [44]:
x

    Outlook  Temperature  Humidity  Wind
0         0           85        85     0
1         0           80        90     1
2         1           83        86     0
3         2           70        96     0
4         2           68        80     0
5         2           65        70     1
6         1           64        65     1
7         0           72        95     0
8         0           69        70     0
9         2           75        80     0
10        0           75        70     1
11        1           72        90     1
12        1           81        75     0
13        2           71        91     1

In [45]:
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: PlayTennis, dtype: int64

In [46]:
mixed_nb = MixedNB(categorical_features=[0,3])
mixed_nb.fit(x,y)

[3 2]

MixedNB(alpha=0.5, var_smoothing=1e-09)

In [47]:
y_pred = mixed_nb.predict(x)

In [48]:
accuracy_score(y,y_pred)

0.9285714285714286